body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja{
    width: 200px;
    height: 200px;
    cursor: pointer;
    background: #226fc1;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: Arial;
}