.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    font-family: 'Segoe UI Historic', 'Segoe UI', sans-serif;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #000000;
    color: #186e43;
    position: relative;
    z-index: 1;
}

.date {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #186e43;;
    margin-top: -60px;
    position: relative;
    z-index: 2;
}

body{
    background-color: rgb(29, 93, 112);
}