*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}

.contenedor{
    width: 400px;
    margin: 40px;
}

.formulario .contenedor-inputs{
    padding: 20px;
    background: #fff;
    border-radius: 6px 6px 0 0;
}

.formulario input[type="text"],
.formulario input[type=email]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Slabo 27px', serif ;
    font-size: 18px;
}