*[
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    :-moz-box-sizing:border-box;
]

body[
    font-family:Arial, Helvetica, sans-serif;
    background: #21295c:
    color: #cf5c36;
]