*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #21295c;
    color: #cf5c36;

}

.contenedor{
    width: 300px;
    margin: auto;
    margin-top: 30px;
    background: #eee5e9;
    padding: 20px;
}

form p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

input[type=text]{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.btn{
    width: 100%;
    background: #cf5c36;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    text-decoration: none;

}