body {
    font-family: open sans-serif;
    background-color: #13503e;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.calculator {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(179, 128, 84);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0c456b;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffcc99;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}