*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #21295c;
    color: #eba68f;
}

.contenedor{
    width: 300px;
    margin: auto;
    margin-top: 30px;
    background: #eee5e9;
    padding: 20px;
}

form p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

input[type=text]{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.btn{
    margin: 0 auto;
    width:100%;
    width: 18%;
    background: #cf5c36;
    color:#fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 12px;
    display: inline-block;
    text-decoration: none;
}

.suma{
    background: #0ebbf0;
    text-align: center;
    border-radius: 10%;
}

.suma:hover{
    background: #eba68f;
    color: bisque;
}

.resta{
    background: #15df41;
    text-align: center;
    border-radius: 10%;
}

.resta:hover{
    background: #832709;
    color: rgb(85, 50, 7);
}    

resta:hover{
    background: #0aa867;
    color: rgb(101, 3, 121);
}    

.multi{
    background: #162bb3;
    text-align: center;
    border-radius: 10%;
}

.multi:hover{
    background: #0aa867;
    color: rgb(101, 3, 121);
}    

.divi{
    background: #2638db;
    text-align: center;
    border-radius: 10%;
}

.divi:hover{
    background: #08adca;
    color: rgb(139, 6, 6);
} 

.resi{
    background: #1791d8;
    text-align: center;
    border-radius: 10%;
}

.resi:hover{
    background: #140474;
    color: rgb(212, 109, 12);
} 
