*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(32, 73, 211);
    font-family: 'Slabo 27px', Serif;
    font-size: 20px;
    padding: 0px 700px;
    margin-top: 250px;
}

.contenedor{
    width: 400px;
    margin: 40px;
}

.formulario .contenedor-inputs{
    padding: 20px;
    background: rgb(180, 180, 38);
    border-radius: 6px 6px 10px 10px;
}

.formulario input[type="text"],
.formulario input[type="email"]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: none;
    border-bottom: 2px solid rgb(63, 33, 13);
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus{
    border-bottom: 2px solid rgb(125, 80, 207);
}

.formulario input[type="radio"]{
    display: none;
}
.formulario .sexo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formulario .sexo .hombre{
    border-radius: 3px 0 0 3px;
}

.formulario .sexo .mujer{
    border-radius: 0 3px 3px 0;
}

.formulario .label-radio{
    background: rgb(37, 62, 90);
    color: rgb(78, 6, 6);
    padding: 10px;
    text-align: center;
    width: 49.5%;
}
.formulario .label-radios{
    background: rgb(100, 243, 131);
    color: black;
    padding: 10px;
    text-align: center;
    width: 49.5%;
}


.formulario input[type="radio"]:checked + .label-radio {
    background: rgb(25, 59, 59);
}

.formulario .terminos{
    text-align: center;
    color: black;
}

.formulario .terminos label {
    margin-left: 10px;
}

.formulario .error{
    display: none;
    margin-top: 20px;
    border-radius: 3px;
    background: blanchedalmond;
    color: rgb(153, 50, 50);
    padding: 15px 10px;
    padding-left: 40px;
}

.formulario .btn{
    width: 100%;
    text-align: center;
    background: rgb(113, 162, 219);
    color: rgb(34, 50, 65);
    border: none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    font-family: 'Slabo 27px', serif;
    font-size: 12px;
}

.formulario .btn:hover{
    background: rgb(231, 164, 164);
    color: rgb(30, 133, 223);
    font-family: Georgia, 'Times New Roman', Times, serif;
}