*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #35666d;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    margin: 150px auto;
    width: 600px;
}

h1, h3{
    text-align: center;
    color: rgb(155, 201, 241);
}

table{
    background: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
}

thead{
    background: #51c5fc;
    border-bottom: solid 5px #3a7385;
    color: white;
}

tr:nth-child(even){
    background: #ddd;
}

tr:hover td{
    background: #61f061;
    color: white;
}